---
import Footer from '../components/Footer.astro';
import Nav from '../components/Nav.astro';
import MainHead from './MainHead.astro';

import '../styles/global.css';

const {
  title = 'Default Title',
  description = 'Default Description',
  image,
  frontmatter,
  robots,
} = Astro.props;
---

<html lang="en">
  <MainHead {title} {description} {image} {frontmatter} {robots} />
  <body>
    <Nav />
    <main>
      <slot>Default text</slot>
    </main>
    <Footer />
  </body>
</html>
